:host {
    aspect-ratio: 1/1;
    cursor: default;
    border: none;

    &.neutral {
        background-color: blue;
    }

    &.clickable {
        background-color: yellow;
        cursor: pointer;

        &:hover {
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
        }
    }
    
    &.success {
        background-color: green;
    }
    
    &.fail {
        background-color: red;
    }
}