button[appButton] {
    --bg: rgba(0,0,0,.1);
    --color: #000;

    background: var(--bg);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--color);
    position: relative;
    overflow: hidden;

    &:not(:disabled):hover {
        box-shadow: 1px 1px 2px rgba(0,0,0,.1);

        .button-hover {
            background-color: rgba(0,0,0,.2);
        }
    }

    .button-hover {
        display: flex;
        align-items: center;
        height: 42px;
        padding: 0 var(--gap-l);
    }

    &:disabled {
        cursor: default;
    }
}